# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
*.terraform.lock.hcl
*.terraform.tfstate.lock.info
# Local secrets
ansible/roles/zabbix_server/files/.env

# SSH keys
terraform/.ssh/

.idea/
/ansible/secrets.yml
