# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfplan
terraform/*.terraform.tfstate.lock.info
# Local secrets
ansible/roles/zabbix_server/files/.env

# SSH keys
terraform/.ssh/

.idea/
/ansible/secrets.yml
